fastapi
pydantic
beautifulsoup4
fastapi
pydantic
uvicorn
streamlit

Flask
Flask-Cors
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
